.meal-box {
    width: 300px;
}
.meal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.meal-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    opacity: 1;
}

.meal-link {
    color: #75B32B;
    text-decoration: none;
}

.meal-image:hover {
    opacity: 0.2;
}

.meal-card {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
}

.meal-image:hover + .meal-name{
    opacity: 1;
}
.meal-name {
    position: absolute;
    bottom: 0;
    color: black;
    font-size: 20px;
    overflow: hidden;
    opacity: 0;
}

.nutrition-info {
    margin-top: 10px;
}

.ingredient-list {
     position: absolute;
     right: 20px;
     bottom: 20px;
}

.ingredient-box {
     border: 2px solid #75B32B;
     padding: 5px;
     margin-bottom: 20px;
}
  
.add-meal button {
    background-color: #75B32B;
    color: white;
    opacity: .75;
    cursor: pointer;
}

.add-meal {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    margin-top: 20px;
}

.add-meal div, label {
   margin: 0 auto;
}