.profile-info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-grow: 2
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.button {
    width: 100px;
    height: 40px;
    background-color: #4D7A49;
    opacity: .75;
    color: white;
    cursor: pointer;
}

.nav, .profile-welcome {
    margin: 20px auto;

}