nav {
    position: fixed;
    margin: 0; 
    top: 0;
    width: 100%;
    display: flex;
    background-color: lightgreen;
    height: 40px;
}

.company-info {
    display: flex;
    align-items: center;

}

.company-container {
    display: flex;
    text-decoration: none;
    color: white;
}

.company-image {
    width: 40px;
    height: 40px;
}

.company-name {
    padding-left: 10px;
    margin-top: 0;
    height: 30px;
    font-size: 40px;
}

.nav-right {
    display: flex;
    align-items: center;
    right: 0;
}

.nav-link {
    color:white;
    text-decoration: none;
    padding: 0 5px;
;}