.new-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.form-box {
    display: flex;
    flex-direction: column;
}

.new-button {
    width: 80px;
    height: 30px;
    background-color: #4D7A49;
    margin: 20px auto;
}