* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Catamaran', sans-serif;
  letter-spacing: 0.2em;
}

main {
  position: relative;
  top: 40px;
  min-height: 100vh;
}

h1 {
  position: relative;
}

