.auth-form {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 300px;
    padding: 40px;
    background-color: #94CC51;
    opacity: .7;
    box-shadow: 3px 3px 5px 0 black, -3px -3px 5px 0 lightgray;
}

.form-group {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.auth-form button {
    width: 80px;
    height: 30px;
    background-color: #4D7A49;
    margin: 20px auto;
    cursor: pointer;
}

.error {
    color: red;
}
